venv/
__pycache__/
*.pyc
.vscode/
.DS_Store
narrative.txt
extract.txt
data/
.pre-commit-config.yaml
emscribe.code-workspace
tree.txt
lcov.info
enable_coverage_watch.sh
coverage.xml
.coverage
htmlcov/
path/
tree.txt
app.log
