.vscode/
data/
htmlcov/
path/
venv/
__pycache__/
.coverage
.DS_Store
.pre-commit-config.yaml
*.pyc
app.log
coverage.xml
emscribe.code-workspace
enable_coverage_watch.sh
extract.txt
lcov.info
narrative.txt
tree.txt
pdf_1.pdf
pdf_2.pdf
pdf_3.pdf
pdf_4.pdf
pdf_5.pdf
tables.txt
utils/test.py
